@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-image: linear-gradient(white, rgb(198, 233, 221));
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    line-height: 1.8;
}

h1 {
    padding-top: 10px;
    font-size: 2.5rem;
}

h1, h2 {
    font-family: 'Handlee', cursive;
    letter-spacing: 0.1em;
}

.container {
    margin: auto;
    max-width: 1300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.surname {
    display: inline;
    border-bottom: 4px solid rgb(31, 156, 160);
}

.content {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    width: auto;
}

.reveal {
    position: relative;
    width: 100%;
    z-index: -1;
    filter: blur(0px);
    border-radius: 30px;
}

.loading-text {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 45%;
    left: 45%;
}
 
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.stats {
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(151, 207, 195);
    font-family: 'Handlee', cursive;
    font-size: 1.1rem;
    line-height: 1;
    padding: 5px 40px;
    text-align: left;
    position: relative;
}

.stat-item span {
    text-decoration: underline dotted;
    text-underline-position: under;
    margin-right: 5px;
}

.stats-close {
    position: absolute;
    padding: 5px 8px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.stats-close:hover {
    background-color: rgb(182, 180, 180);
    border-radius: 50%;
}

.stork {
    height: 80px;
    margin-left: 30px;
}

.btn {
    font-family: 'Handlee', cursive;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 3px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.copyright {
    color: rgb(31, 156, 160);
    font-size: 0.75rem;
    padding-bottom: 10px;
}

.flaticon {
    color:rgb(31, 156, 160);
    text-decoration: none;
}

.flaticon:hover {
    color: black;
}

/***** MOBILE STYLES ******/

@media (max-width: 400px) {
    .info {
       flex-direction: column-reverse; 
    }

    .stork {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 675px) {
    .footer {
        display: block;
        justify-content: center;
    }

    .copyright {
        padding-bottom: 0;
    }
}
